.menu-div {
  color: white;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 100vh;
}

.menu-header {
  color: white;
  text-align: center;
}

.menu-info {
  display: block;
  margin-bottom: 25em;
  align-self: center;
}
